* {
  margin: 0;
}
/* HEADER */
.header {
  height: 3vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 90%;
}
.header .emoji {
  background-image: url(../images/emoji.png);
  height: 40px;
  width: 40px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-left: 50px;
}
.header .logo h1 {
  color: rgb(192, 8, 8);
  font-weight: 300;
  letter-spacing: 1.5px;
  font-weight: 100;
}
.header .logo h4 {
  color: #1c0631de;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 200;
}
.header .nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav button {
  background: red;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  text-transform: capitalize;
  font-size: medium;
}

.header-index {
  height: 3vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.header-index .logo {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-index .logo .emoji {
  background-image: url(../images/emoji.png);
  height: 40px;
  width: 40px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.header-index .logo h1 {
  color: rgb(192, 8, 8);
  letter-spacing: 1.5px;
  font-weight: 100;
}
.header-index .logo h5 {
  color: #1c0631de;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 200;
  font-size: medium;
}
.header-index .nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: larger;
}
.header-index button {
  background: rgb(192, 8, 8);
  color: rgb(239, 194, 194);
  height: 35px;
  width: 160px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  font-size: medium;
}
/* HERO */
.hero .homehero-img {
  height: 70vh;
  width: 90vw;
  background-image: url(../images/hero.png);
  background-position: center;
  background-size: cover;
  margin-left: 70px;
  background-color: rgba(28, 23, 23, 0.685);
  background-blend-mode: darken;
}

.hero .indexhero-img {
  height: 80vh;
  width: 90vw;
  background-image: url(../images/Screenshot\ 2023-11-07\ at\ 09.45.42.png);
  background-position: center;
  background-size: cover;
  margin-left: 70px;
  background-blend-mode: darken;
  position: relative;
  background-color: rgba(32, 30, 30, 0.685);
}
.abouthero {
  height: 80vh;
  width: 100vw;
}
.abouthero .hero-back {
  height: 50vh;
  width: 80vw;
  background-color: #0f111cd6;
  color: white;
  margin-left: 70px;
  position: relative;
  margin-left: 130px;
}
.bhero .baye-hero {
  height: 35vh;
  width: 80vw;
  background-color: #0f111cd6;
  color: white;
  margin-left: 70px;
  position: relative;
  margin-left: 130px;
}
.bhero h1 {
  color: white;
  text-align: center;
  font-size: 47px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 2cm;
  font-weight: 300;
  text-transform: capitalize;
  position: absolute;
  top: 24vh;
  left: 29vw;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
}
.abouthero .about-heroimg {
  height: 40vh;
  width: 45vw;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 12vh;
  left: 25vw;
}
.abouthero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.abouthero h1 {
  color: white;
  text-align: center;
  font-size: 43px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 2cm;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: 35vh;
  left: 25vw;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.hero .content {
  z-index: 5;
  position: absolute;
  top: 30vh;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hero .content h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 2cm;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.hero .content h3 {
  color: rgb(165, 16, 16);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 35px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero .content button {
  background: rgb(161, 28, 28);
  color: rgb(236, 188, 188);
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  font-size: medium;
  letter-spacing: 2px;
  margin-top: 40px;
}

/* ABOUT */
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-left: 50px;
}

.about .intro h5 {
  color: #cd0638;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-size: small;
  font-weight: 400;
}
.about .intro h1 {
  width: 70%;
  letter-spacing: 1.5px;
  line-height: 35px;
  font-size: xx-large;
  font-weight: 500;
}
.about .intro p {
  width: 70%;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: small;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about .intro .about1 {
  width: 40vw;
  height: 28vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(187, 7, 7);
  margin-top: 20px;
}
.about .intro .about1 .about-img1 {
  background-image: url(../images/about1.png);
  height: 200px;
  width: 250px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.about .intro .about1 .h5 {
  color: #fff;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: none;
  font-size: larger;
  font-weight: 300;
}
.about .right .background {
  background-color: #800020;
  background-image: linear-gradient(to bottom, rgb(187, 7, 7), violet, purple);
  height: 600px;
  width: 600px;
  border-radius: 50%;
  position: relative;
}

.about .right .right-img {
  background-image: url(../images/about2.png);
  height: 600px;
  width: 350px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 115vh;
  right: 175px;
  z-index: 2;
}
/* ABOUT US */
.about-us {
  height: 80vh;
}
.about-us .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.about-us .container .left {
  width: 50%;
  margin-left: 100px;
}
.about-us .container .left h5 {
  color: rgb(21, 21, 248);
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 300;
}
.about-us .container .left h1 {
  width: 80%;
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: x-large;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.about-us .container .left p {
  width: 60%;
  letter-spacing: 0.8px;
  line-height: 25px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 100;
  text-transform: capitalize;
}
.about-us .container .left .cover {
  background-color: rgba(248, 243, 243, 0.898);
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.about-us .container .left .cover .aboutus-img {
  background-image: url(../images/about-us.png);
  height: 200px;
  width: 350px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.about-us .container .right {
  width: 40%;
}
.about-us .container .right p {
  width: 70%;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 19px;
  margin-right: 100px;
}
/* WHAT WE DO */
.activities {
  height: 70vh;
  width: 90vw;
  background-color: #02040c;
  margin: 70px;
}
.activities h5 {
  color: #800020;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 300;
  padding-left: 70px;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.activities h1 {
  color: whitesmoke;
  margin-left: 70px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 38px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}
.activities .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.activities .container .dos {
  height: 300px;
  width: 300px;
  border: solid 1px #303031;
  background-color: #0f111cd6;
  color: gray;
}
.activities .container .dos h1 {
  text-transform: uppercase;
  color: rgba(201, 197, 197, 0.924);
  letter-spacing: 1.5px;
  line-height: 35px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.activities .container .dos p {
  width: 70%;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  text-transform: capitalize;
}
.activities .container .dos button {
  background: #b20430;
  color: white;
  height: 40px;
  width: 150px;
  border: none;
  text-transform: capitalize;
  font-size: small;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-left: 50px;
}
/* DOWNLOAD APP  */
.download {
  height: 150vh;
  width: 90vw;
  background-color: white;
  margin-top: 50px;
}
.download h1 {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1cm;
  width: 90%;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.download p {
  width: 65%;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 100;
  margin-left: 50px;
}
.download button {
  background: #b20430;
  color: rgb(231, 192, 192);
  height: 40px;
  width: 150px;
  border: none;
  text-transform: capitalize;
  font-size: small;
  font-weight: 200;
  margin-top: 60px;
  margin-left: 50px;
}
.download .top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-left: 50px;
}

.download .top .left {
  width: 50%;
}
.download .top .top-img {
  background-image: url(../images/download2.jpg);
  height: 450px;
  width: 350px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-right: 70px;
}
.download .bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-left: 50px;
}
.download .bottom .bottom-img {
  background-image: url(../images/download1.png);
  height: 400px;
  width: 300px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-left: 90px;
}

/*INDEX NATION SITTERS  */
.nation {
  background-color: whitesmoke;
  height: 80vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #1f1466;
}
.nation h1 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 2cm;
}
.nation p {
  width: 80%;
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 100;
}
.nation .nation-img {
  background-image: url(../images/nation.png);
  height: 250px;
  width: 250px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}
.nation h5 {
  color: rgba(109, 231, 190, 0.868);
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 200;
  font-size: x-large;
  margin-top: 20px;
}
.nation .dots {
  color: gray;
  text-align: center;
  margin-top: 20px;
}
.nation .dots span {
  color: black;
}
/* LOREM */
.lorem {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lorem .lor-head {
  height: 8vh;
  width: 100vw;
  background-color: rgb(4, 4, 22);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 45px;
  font-size: x-large;
  font-weight: 200;
}
.lorem .lor-head span {
  color: #800020;
}
.lorem .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  padding: 50px;
}
.lorem .container .lorem-intro h5 {
  color: red;
  margin-top: 50px;
  margin-left: 70px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  font-size: small;
  font-weight: 300;
}
.lorem .container .lorem-intro h1 {
  width: 70%;
  margin-left: 70px;
  margin-top: 30px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 38px;
  font-size: xx-large;
  font-weight: 500;
}
.lorem .container .lorem-intro p {
  width: 70%;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: medium;
  font-weight: 300;
  margin-top: 30px;
  margin-left: 70px;
}
.lorem .container .lorem-intro button {
  background: #b20430;
  color: white;
  height: 40px;
  width: 250px;
  border: none;
  text-transform: capitalize;
  font-size: smaller;
  font-weight: 200;
  margin-top: 60px;
  margin-left: 70px;
}
.lorem .container .lorem-img {
  height: 600px;
  width: 450px;
  margin-right: 100px;
  position: relative;
}
.lorem .container .icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: green;
  color: black;
  z-index: 3;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 276vh;
  right: 350px;
}
/* TAKE A TEST  */
.test {
  height: 100vh;
  background-color: #080f21ec;
  color: #fff;
}
.test .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test .top h5 {
  color: red;
  margin-top: 50px;
  margin-left: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 20px;
  font-size: small;
  font-weight: 400;
}
.test .top h2 {
  width: 70%;
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
}
.test .top p {
  width: 60%;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: x-large;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 70px;
  text-align-last: center;
}
.test .bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 70px;
  padding-left: 70px;
}
.test .bottom .test-img {
  height: 350px;
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
}
.test .bottom p {
  width: 40%;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: larger;
  font-weight: 200;
  margin-top: 30px;
  margin-left: 50px;
}
.test .bottom ul {
  width: 55%;
  letter-spacing: 2px;
  line-height: 36px;
  font-size: medium;
  margin-top: 30px;
  margin-left: 10px;
}
::marker {
  color: transparent;
}
.test .bottom .span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
  margin-left: 50px;
}
.test .bottom .span span {
  color: rgb(154, 4, 4);
  letter-spacing: 2.5px;
  line-height: 28px;
  font-size: x-large;
  font-weight: 600;
}
.test .bottom .span button {
  background: rgb(154, 4, 4);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  font-size: smaller;
  font-weight: 100;
  margin-top: 20px;
}
/* EVENTS */
.events {
  height: 120vh;
  margin-top: 70px;
}
.events .event-intro {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
:root::after {
  content: "even";
  right: 0;
  top: 448vh;
  position: absolute;
  -webkit-text-stroke: 1px rgb(237, 157, 157);
  color: transparent;
  z-index: -1;
  font-size: 250px;
  text-transform: uppercase;
  font-family: Arial;
  letter-spacing: 4px;
}
.events .event-intro h5 {
  color: red;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 20px;
  font-size: large;
  font-weight: 300;
}
.events .event-intro h1 {
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: xx-large;
  font-weight: 600;
}
.events .event-intro button {
  background: #b20430;
  color: white;
  height: 40px;
  width: 150px;
  border: none;
  text-transform: capitalize;
  font-size: smaller;
}
.events .images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  padding-left: 50px;
}
.events .images .event-img {
  height: 450px;
  width: 300px;
  background-image: url(../images/even1.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.events .images .event2-img {
  height: 450px;
  width: 300px;
  background-image: url(../images/events.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.events .images .event3-img {
  height: 450px;
  width: 300px;
  background-image: url(../images/events3.jpg);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.events .images h4 {
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: larger;
  font-weight: 600;
}
.events .images p {
  width: 60%;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: medium;
  margin-top: 10px;
  text-transform: capitalize;
}
.events .images button {
  border: none;
  background-color: transparent;
  color: blue;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  margin-top: 10px;
}

/* INDEX HOW MUCH YOU SIT */
.sit {
  background-color: whitesmoke;
  height: 120vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #1a0e6a;
}

.sit h1 {
  font-size: 37px;
  letter-spacing: 2px;
  line-height: 2cm;
  font-weight: 100;
}
.sit p {
  width: 70%;
  letter-spacing: 1px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 100;
}
.sit p span {
  color: gray;
  margin-right: 50px;
}
.sit button {
  background: rgb(184, 46, 46);
  color: rgb(238, 175, 175);
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  font-size: medium;
  letter-spacing: 2px;
  margin-top: 20px;
}
.sit ul {
  letter-spacing: 2px;
  line-height: 55px;
  font-size: 23px;
  margin-top: 10px;
  margin-right: 350px;
}
::marker {
  color: transparent;
}
.sit ul span {
  font-weight: 600;
}
/* STEP FAMILY */
.family {
  width: 100vw;
  height: 280vh;
  background-color: whitesmoke;
}
.family .container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1a0e6a;
  background-color: whitesmoke;
  position: relative;
}
.family .container .left {
  margin-left: 100px;
  background-color: whitesmoke;
  width: 30%;
  height: 100%;
  border: solid 3px rgba(84, 82, 82, 0.911);
}
.family .container .left .left-img {
  background-image: url(../images/family.png);
  height: 500px;
  width: 1005;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin-top: 70vh;
}
.family .container .right {
  width: 60%;
  height: 90%;
  background: white;
  padding-left: 90px;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 12vh;
}
.family .container .right h1 {
  width: 75%;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 2cm;
  font-weight: 100;
  margin-top: 60px;
}
.family .container .right h1 span {
  text-decoration: underline;
  margin-left: 60px;
}
.family .container .right p {
  width: 90%;
  letter-spacing: 1.5px;
  line-height: 36px;
  font-size: 20px;
  margin-top: 30px;
  margin-top: 30px;
  font-weight: 100;
}
.family .container .right p span {
  font-weight: 700;
  color: #3c035a;
}
.family .container .right p span .underline {
  text-decoration: underline;
}
.family .container .right button {
  background: rgb(224, 61, 61);
  color: rgb(235, 197, 197);
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  font-size: medium;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-left: 70px;
  text-transform: uppercase;
}
/* WORKED WITH  */
.projects {
  height: 100vh;
}
.projects h1 {
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: 2.5px;
  line-height: 38px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.projects p {
  color: rgba(79, 79, 206, 0.64);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: larger;
  margin-top: 30px;
}

.projects .work-img {
  margin-left: 70px;
  margin-top: 50px;
}
/* INDEX WORKED WITH */
.index-projects {
  background-color: whitesmoke;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #6a5acd;
}
.index-projects .index-h1 {
  width: 25%;
  font-size: 39px;
  letter-spacing: 2px;
  line-height: 1.5cm;
  font-weight: 100;
  margin-bottom: 30px;
}
.index-projects .index-p {
  width: 49%;
  letter-spacing: 1px;
  line-height: 38px;
  font-size: 20px;
  font-weight: 100;
}
.index-projects .index-p span {
  color: rgb(121, 92, 54);
  font-weight: 600;
}

/* PACKAGES  */
.packages {
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.packages .sub {
  height: 400px;
  width: 350px;
}
.packages .sub h5 span {
  color: #1a0e6a;
  font-size: xx-large;
}
.packages .sub h3 {
  font-size: x-large;
  color: #1b1757e7;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 30px;
}
.packages .sub p {
  width: 50%;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  font-weight: 100;
  margin-top: 20px;
}
.packages .sub p span {
  color: #02040c;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}
.packages .sub button {
  background: rgb(220, 162, 162);
  color: white;
  height: 40px;
  width: 200px;
  border: none;
  font-size: smaller;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 40px;
  text-transform: capitalize;
}
.packages .popular {
  background-color: #0f111cd6;
  color: white;
  height: 400px;
  width: 300px;
  border-radius: 20px;
}
.packages .popular h6 {
  background: white;
  color: red;
  height: 20px;
  width: 100px;
  border: none;
  border-radius: 15px;
  font-size: xx-small;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 180px;
  margin-top: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.packages .popular h5 span {
  color: white;
  font-size: xx-large;
  margin-left: 50px;
}
.packages .popular h3 {
  font-size: x-large;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 30px;
  margin-left: 50px;
  color: white;
  margin-bottom: 20px;
}
.packages .popular p {
  width: 55%;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  font-weight: 100;
  margin-left: 50px;
}
.packages .popular button {
  background: #cd0638;
  color: rgb(235, 204, 204);
  height: 40px;
  width: 200px;
  border: none;
  font-size: smaller;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 40px;
  text-transform: capitalize;
  margin-left: 50px;
}
/* FOOTER */
.footer {
  height: 100vh;
  width: 90vw;
  margin-left: 70px;
}
.footer .data {
  height: 30vh;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.footer .data .numbers {
  height: 180px;
  width: 300px;
  border-right: solid 0.5px #e1e1ed;
  background-color: #cd0638;
  color: rgb(243, 232, 232);
}
.footer .data .numbers p {
  text-align: center;
  margin-top: 20px;
  font-size: x-large;
  letter-spacing: 2.5px;
  line-height: 35px;
  text-decoration: underline;
}
.footer .data .numbers h3 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 30px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}
.footer .container {
  background-color: #02040c;
  color: gray;
  height: 60vh;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
.footer .foot-img {
  background-image: url(../images/events.jpg);
  height: 350px;
  width: inherit;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(28, 23, 23, 0.685);
}

.footer .foot-img h3 {
  text-align: center;
  color: #fff;
  padding-top: 100px;
  font-size: xx-large;
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .foot-img h3 span {
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 35px;
}
.footer .contact h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: large;
  font-weight: 200;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .contact .contact-info {
  height: 180px;
  width: 300px;
  border: solid 1px #303031;
  background-color: #0f111cd6;
  padding-left: 30px;
}
.footer .contact .contact-info h6 {
  color: #800020;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: medium;
}
.footer .contact h6 {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: smaller;
  width: 60%;
  margin-bottom: 25px;
  color: rgba(245, 245, 245, 0.543);
}
.footer .contact .bayecontact-info {
  height: 200px;
  width: 300px;
  border: solid 1px #303031;
  background-color: #0f111cd6;
  padding-left: 30px;
}
.footer .contact .paye-foot {
  color: green;
  font-size: small;
  margin-top: 10px;
}
.footer .utilities h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: large;
  color: #fff;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .utilities nav {
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 200;
}
.footer .news h1 {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 2px;
  line-height: 38px;
  font-size: large;
  font-weight: 200;
  margin-bottom: 30px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .news input {
  height: 40px;
  width: 200px;
  border: solid 1px #303031;
  background-color: #0f111cd6;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-left: 15px;
}
.footer .news button {
  background: rgb(207, 14, 14);
  color: white;
  height: 40px;
  width: 130px;
  text-transform: capitalize;
  border: none;
  font-size: smaller;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.footer .news .icon {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 5vw;
  display: flex;
  justify-content: space-between;
}
.footer .news .icon-i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .news .icon-i .line {
  width: 190px;
  color: gray;
}
.footer .news .icon-i .i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: whitesmoke;
  border: solid 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
